

<div class="container">
  <h2>订单生成</h2>
  <br>
  <div class="col-md-12">

    <%= simple_form_for @order do |f| %>
      <div class="col-md-8">
        <legend>订购人信息</legend>
          <div class="form-group col-lg-6">
            <%= f.input :billing_name, :label => "订购人姓名" %>
          </div>
          <div class="form-group col-lg-6">
            <%= f.input :billing_address, :label => "订购人地址" %>
          </div>
        <legend>收货人信息</legend>
          <div class="form-group col-lg-6">
            <%= f.input :shipping_name, :label => "收货人姓名" %>
          </div>
          <div class="form-group col-lg-6">
            <%= f.input :shipping_address, :label => "收货人地址" %>
          </div>
          <legend>订单明细</legend>
          <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th width="50%">赴约人</th>
                <th>单价</th>
                <th>数量</th>
                <th> 小记 </th>
              </tr>
            </thead>
            <tbody>
              <% current_cart.cart_items.each do |cart_item| %>
                <tr>
                  <td>
                    <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
                  </td>
                  <td>
                    <%= cart_item.product.price %>
                  </td>
                  <td>
                    <%= cart_item.quantity %>
                  </td>
                  <td>
                    <%= cart_item.product.price * cart_item.quantity%>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>

      <!-- Sidebar -->
      <div class="col-md-3 col-md-offset-1 col-sm-4">
        <aside>
          <h3 class="toolbar-title">购物车总价:</h3>
          <h4 class="amount">¥ <%= render_cart_total_price(current_cart) %></h4>
          <p class="text-sm text-gray"></p>
          <%= link_to("返回购物车", carts_path, class: "btn btn-info") %>
          <br>
          <br>
          <%= f.submit "确认", class: "btn btn-danger ", data: {disable_with: "Submitting..."} %>
        </aside>
      </div>
      <!-- Sidebar -->
    <% end %>

    <hr>

  </div>
</div>
